/env
/app/source/
/app/static/csvfiles
/app/gcloud_func_fighters
/app/gcloud_func_stats
/app/gcloud_func_fighters.zip
/app/gcloud_func_stats.zip
/app/notebooks
/app/static
/app/fighter-data-scrape.py
/app/fighter-scrape.py
/app/migration-postgres.py
*.DS_Store
.vs_code